<% if notice %>
  <section>
    <p class="notice">
      <%= notice %>
    </p>
  </section>
<% end %>

<% if alert %>
  <section>
    <p class="alert">
      <%= alert %>
    </p>
  </section>
<% end %>
