
<div class="max-w-5xl mx-auto px-4 py-8">
  <h1 class="mb-4 md:text-5xl text-green-500">All your favorite recipes, in your back pocket</h1>
  <p>PocketPantry is the best way to keep all your recipes in one, easy-to-find place</p>
</div>
