<%= turbo_frame_tag 'new-recipe' do %>
  <div class="max-w-full bg-stone-50 rounded-md px-4 py-2">
    <div class="bg-stone-50">
      <h2><%= t("dashboard.recipes.write_down_recipe") %></h2>
      <%= render partial: 'form', locals: { model: @recipe, submit: "Add to pantry" } %>
    </div>
  </div>
<% end %>
