<h1><%= @recipe.name %></h1>
<p class="with-side mb-4 text-stone-500">With diced tomatoes, fresh romaine, and black pepper</p>

<% if @recipe.main_image.attached? %>
  <%= image_tag @recipe.main_image, class: "rounded-lg mb-4" %>
<% else %>
  <%= image_tag "food/default.svg", class: "rounded-lg mb-4" %>
<% end %>

<div class="mb-8">
  <h2>Ingredients</h2>
  <ul>
    <li>Romaine lettuce - 20 calories</li>
    <li>Tomatoes - 10 calories</li>
    <li>Black peppper - 5 calories</li>
  </ul>
</div>

<div class="mb-8">
  <h2>Instructions</h2>

  <p>
    First you do this and then you do that. Then this goes here, wait cut that
    first, then you pour it over and let it sit for 10 minutes...jk it's a salad start
    eating it as soon as you grab a fork...if you want a fork, I don't use a fork, I'm not
    a punk like that. :)
  </p>
</div>
