@import url("https://use.typekit.net/mmp8umi.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-base bg-stone-100 text-stone-600;
  }

  p {
    @apply text-base;
  }

  h1 {
    @apply text-4xl font-display leading-tight mb-4 text-cyan-500;
  }

  h2 {
    @apply text-3xl leading-tight mb-4 font-subheading text-cyan-500;
  }

  input {
    @apply bg-stone-100 text-stone-900;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px theme('colors.stone.100') inset !important;
    -webkit-text-fill-color: red !important;
  }
}

@layer components {
  .btn {
    @apply px-2 py-1 rounded-md cursor-pointer;
  }

  .btn-submit {
    @apply bg-rose-500 text-rose-50 hover:bg-rose-600;
  }
}

.session-dropdown a {
  @apply flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-stone-50 disabled:text-stone-500;
}

@keyframes fade-in-and-out {
  0%,
  100% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }
}
