@import url("https://use.typekit.net/mmp8umi.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-base bg-stone-100 text-stone-600;
  }

  p {
    @apply text-base;
  }

  h1 {
    @apply text-4xl font-display leading-tight mb-4 text-cyan-500;
  }

  h2 {
    @apply text-3xl leading-tight mb-4 font-subheading text-cyan-500;
  }

  input {
    @apply bg-stone-100 text-stone-900;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px theme('colors.stone.100') inset !important;
    -webkit-text-fill-color: red !important;
  }

  a {
    @apply text-rose-500 font-bold;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md cursor-pointer;
  }

  .btn-submit {
    @apply bg-rose-500 text-rose-50 hover:bg-rose-600;
  }
}

.session-dropdown a {
  @apply flex font-normal items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-stone-50 disabled:text-stone-500;
}

@keyframes fade-in-and-out {
  0%,
  100% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }
}

/* Tailwind-Trix overrides */

.trix-button-row {
  @apply py-2 px-4 border border-rose-500 rounded-md mb-4;
}

.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

.trix-content {
  @apply w-full px-4 py-2 bg-stone-100;
}

.trix-content div {
  @apply mb-2;
}

.trix-content h1 {
    font-size: 1.25rem !important;
    line-height: 1.25rem !important;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: theme('fontFamily.sans');
    color: theme('colors.stone.700');
}

.trix-content a:not(.no-underline) {
    text-decoration: underline;
}

.trix-content a:visited {
    color: green;
}

.trix-content ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.trix-content ol {
    list-style-type: decimal;
    padding-left: 1rem;
}

.trix-content pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 1rem;
    padding: 0.5em;
    margin-bottom: .5rem;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto;
}

.trix-content blockquote {
    border: 0 solid #ccc;
    border-left-width: 0px;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em;
}
